@tailwind base;
@tailwind components;
@tailwind utilities;

.drills {
  border-top-left-radius: 20rem 5rem;
  border-top-right-radius: 20rem 5rem;
  border-bottom-left-radius: 20rem 5rem;
  border-bottom-right-radius: 20rem 5rem;
}
.btn-shape {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1.5rem;
}
